.intro {
  justify-content: center;
}


.intro__container {
  position: relative;
  top: 3em;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.intro__title {
  font-size: 3.75em;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1em;
}


.intro__text {
  margin-top: 2.3em;

  width: 46vw;

  text-align: center;
}


.intro__button {
  margin-top: 4em;
}